---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

<!--  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

<div class="meta_wrapper">
  <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%B %e, %Y"}}</time>
  <ul class="tag_list_in_post">
    {% for tag in page.tags %}
    <li class="inline tag_list_item">
      <a class="tag_list_link" href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
